body{
    width: 100% !important;
    background-color: #E0E0E0 !important;
}
.background-image{
    width: 100%  !important;
    height: 100% !important;
    z-index: -1 !important;
    opacity: 0.5;
    position: fixed;
}
.display-blog-image{
    width: 80%  !important;
    height: 80% !important;
    z-index: 100 !important;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
    opacity: 1;
    position: fixed;
}
.close-glyphicon-button{
    top: 20;
    left: 90%;
    font-size: 25px;
}
.blur-background{
    min-width: 100%  !important;
    min-height: 100% !important;
    z-index: 10 !important;
    background-color: #E0E0E0;
    opacity: 0.95;
    position: fixed;
}
.custom-container{
    margin: 30px 10% !important;
    overflow: hidden;
    width: 80% !important;
    position: absolute;
}
.navbar-container{
    width: 30% !important;
    float: left !important;
    /*position: fixed;*/
}
.info-container{
    width: 70% !important;
    float: right;
    background-color: #FFFFFF;
    text-align: center;
    position: relative;
    /*padding: 50px;*/
    margin: 0px 0px 20px 0px;
}
.options{
    background-color: #039BE5;
    color: #FFFFFF;
    margin: 0px 10px 5px 0px;
    padding: 5px 20px;
    font-size: 25px;
    width: 60% !important;
    float: right;
    cursor: pointer;
}
.custom-progress{
    width: 70% !important;
}
#profile-image{
    margin: 0px calc(50% - 100px);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-color: #E0E0E0;
}
#profile-name{
    margin-top: 50px;
}
#profile-name-regular{
    font-size: 25px;
    font-family: 'Share';
}
#profile-name-highlight{
    font-size: 40px;
    color: #039BE5;
    font-family: 'Luckiest Guy';
}
#profile-name-desc{
    font-size: 17px;
    font-family: 'Alegreya Sans SC';
}
#line{
    margin: 0px 10%;
    height: 1px;
    background-color: #000000;
}
#introduction{
    margin: 20px 5%;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Alegreya Sans SC';
    /*font-family: 'Puritan';*/
}
#social-icons{
    border-radius: 10px;
    margin: 0% 15% 50px 15%;
    padding: 5px;
    background-color: #039BE5;
}
#social-icons a{
    color: #FFFFFF;
    margin: 10px;
}

#about-image{
    width: 100%;
    max-height: 300px;
}
#about-info{
    margin: 10px 5%;
    /*text-align: left;*/
}
.about-detail{
    font-size: 15px;
    font-weight: bold;
    color: #039BE5;
    font-family: 'Audiowide';
}
.about-text{
    font-size: 15px;
    font-family: 'Share';
}
.progress-container{
    width: 70% !important;
    margin: auto;
    text-align: left;
}
.education-container{
    width: 70% !important;
    margin: auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.photos-container{
    width: 90% !important;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#skills-heading{
    font-size: 50px;
    font-family: 'Share';
}
#education-heading{
    font-size: 50px;
    font-family: 'Share';
}
.coming-soon{
    font-size: 25px;
    font-weight: bold;
    /*color: #039BE5;*/
    font-family: 'Audiowide';
    padding: 50px 0px !important;
}
.contact-info{
    margin: 50px 0px 20px 0px;
    text-align: center;
}
.submit-button{
    margin-bottom: 30px;
}
.education-certificate{
    height: 100px;
    font-size: 50px;
    text-align: center;
    padding: 25px;
    margin-bottom: 4px;
    background-color: #039BE5;
    color: #FFFFFF;
}
.education-details{
    height: 100px;
    text-align: left;
    padding: 10px 5px;
    margin-bottom: 4px;
    color: #000000;
    border-bottom: 2px solid #039BE5;
    border-right: 2px solid #039BE5;
}
.input-container{
    margin-bottom: 20px;
}
#class{
    font-size: 1.6em;
    color: #039BE5 !important;
    font-family: 'Audiowide';
}
#batch{
    font-size: 1em;
    color: #000000 !important;
    font-family: 'Share';
    margin-left: 10px;
}
#institute a{
    font-size: 1.5em ;
    color: #000000 !important;
    font-family: 'Share';
}
.blog-image{
    width: 31%;
    height: 200px;
    float: left;
    margin: 1%;
}
textarea{
    color: #039BE5 !important;
}
textarea:focus {
    outline: none !important;
}
textarea::placeholder{
    color: #039BE5;
}
